<a href="https://colab.research.google.com/github/tarakantaacharya/flask_app/blob/main/Preprocessing_data_zomato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! unzip archive.zip

Archive:  archive.zip
  inflating: Country-Code.xlsx
  inflating: file1.json
  inflating: file2.json
  inflating: file3.json
  inflating: file4.json
  inflating: file5.json
  inflating: zomato.csv

In [7]:
import json
import pandas as pd

# Sample JSON (Replace this with your actual JSON file)
json_file_path = "/content/file1.json"

# Load JSON data from the file
with open(json_file_path, 'r') as f:
    data = json.load(f)

# Extract all restaurant data dynamically
restaurants_list = [r["restaurant"] for item in data for r in item.get("restaurants", [])]

# Convert nested JSON to DataFrame dynamically
df1 = pd.json_normalize(restaurants_list)

# Display DataFrame
df1.head()

,has_online_delivery,photos_url,url,price_range,apikey,name,cuisines,is_delivering_now,deeplink,menu_url,...,location.address,location.city,location.country_id,location.locality_verbose,location.city_id,location.zipcode,location.longitude,location.locality,order_deeplink,order_url
0,1,https://www.zomato.com/HauzKhasSocial/photos?u...,https://www.zomato.com/HauzKhasSocial?utm_sour...,3,b90e6a8c738410315a20c449fe2eb1b1,Hauz Khas Social,"Continental, American, Asian, North Indian",0,zomato://restaurant/308322,https://www.zomato.com/HauzKhasSocial/menu?utm...,...,"9-A & 12, Hauz Khas Village, New Delhi",New Delhi,1,"Hauz Khas Village, New Delhi",1,,77.1944706000,Hauz Khas Village,NaN,NaN
1,0,https://www.zomato.com/ncr/qubitos-the-terrace...,https://www.zomato.com/ncr/qubitos-the-terrace...,3,b90e6a8c738410315a20c449fe2eb1b1,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...",0,zomato://restaurant/18037817,https://www.zomato.com/ncr/qubitos-the-terrace...,...,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,1,"Rajouri Garden, New Delhi",1,,77.1177015000,Rajouri Garden,NaN,NaN
2,1,https://www.zomato.com/ncr/the-hudson-cafe-del...,https://www.zomato.com/ncr/the-hudson-cafe-del...,2,b90e6a8c738410315a20c449fe2eb1b1,The Hudson Cafe,"Cafe, Italian, Continental, Chinese",0,zomato://restaurant/312345,https://www.zomato.com/ncr/the-hudson-cafe-del...,...,"2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,1,"Delhi University-GTB Nagar, New Delhi",1,,77.2043172000,Delhi University-GTB Nagar,NaN,NaN
3,0,https://www.zomato.com/ncr/summer-house-cafe-h...,https://www.zomato.com/ncr/summer-house-cafe-h...,3,b90e6a8c738410315a20c449fe2eb1b1,Summer House Cafe,"Italian, Continental",0,zomato://restaurant/307490,https://www.zomato.com/ncr/summer-house-cafe-h...,...,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,1,"Hauz Khas, New Delhi",1,110016,77.2038090000,Hauz Khas,NaN,NaN
4,0,https://www.zomato.com/ncr/38-barracks-connaug...,https://www.zomato.com/ncr/38-barracks-connaug...,3,b90e6a8c738410315a20c449fe2eb1b1,38 Barracks,"North Indian, Italian, Asian, American",0,zomato://restaurant/18241537,https://www.zomato.com/ncr/38-barracks-connaug...,...,"M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,1,"Connaught Place, New Delhi",1,,77.2228584811,Connaught Place,NaN,NaN

In [8]:
import json
import pandas as pd

# Sample JSON (Replace this with your actual JSON file)
json_file_path = "/content/file2.json"

# Load JSON data from the file
with open(json_file_path, 'r') as f:
    data = json.load(f)

# Extract all restaurant data dynamically
restaurants_list = [r["restaurant"] for item in data for r in item.get("restaurants", [])]

# Convert nested JSON to DataFrame dynamically
df2 = pd.json_normalize(restaurants_list)

# Display DataFrame
df2.head()

,apikey,id,name,url,switch_to_order_menu,cuisines,average_cost_for_two,price_range,currency,offers,...,location.country_id,location.locality_verbose,user_rating.aggregate_rating,user_rating.rating_text,user_rating.rating_color,user_rating.votes,book_url,zomato_events,order_url,order_deeplink
0,10a35f36f5898432823df42bc743c8aa,16668008,Arigato Sushi,https://www.zomato.com/yorkton-sk/arigato-sush...,0,Asian,25,2,$,[],...,37,"Yorkton, Yorkton",3.3,Average,CDD614,26,NaN,NaN,NaN,NaN
1,10a35f36f5898432823df42bc743c8aa,801690,Mocha,https://www.zomato.com/lucknow/mocha-gomti-nag...,0,"Cafe, Italian, Continental",800,3,Rs.,[],...,1,"Gomti Nagar, Lucknow",4.6,Excellent,3F7E00,567,NaN,NaN,NaN,NaN
2,10a35f36f5898432823df42bc743c8aa,17558738,Blue House Cafe,https://www.zomato.com/vernonia-or/blue-house-...,0,"Coffee and Tea, Mediterranean",10,1,$,[],...,216,"Vernonia, Vernonia",4.3,Very Good,5BA829,88,NaN,NaN,NaN,NaN
3,10a35f36f5898432823df42bc743c8aa,16611701,Star Buffet,https://www.zomato.com/mayfield-nsw/star-buffe...,0,Asian,20,2,$,[],...,14,"Mayfield, Mayfield",2.9,Average,FFBA00,11,NaN,NaN,NaN,NaN
4,10a35f36f5898432823df42bc743c8aa,2100784,11th Avenue Cafe Bistro,https://www.zomato.com/guwahati/11th-avenue-ca...,0,"Cafe, American, Italian, Continental",400,2,Rs.,[],...,1,"Uzan Bazaar, Guwahati",4.1,Very Good,5BA829,377,NaN,NaN,NaN,NaN

In [9]:
import json
import pandas as pd

# Sample JSON (Replace this with your actual JSON file)
json_file_path = "/content/file3.json"

# Load JSON data from the file
with open(json_file_path, 'r') as f:
    data = json.load(f)

# Extract all restaurant data dynamically
restaurants_list = [r["restaurant"] for item in data for r in item.get("restaurants", [])]

# Convert nested JSON to DataFrame dynamically
df3 = pd.json_normalize(restaurants_list)

# Display DataFrame
df3.head()

,apikey,id,name,url,switch_to_order_menu,cuisines,average_cost_for_two,price_range,currency,offers,...,location.country_id,location.locality_verbose,user_rating.aggregate_rating,user_rating.rating_text,user_rating.rating_color,user_rating.votes,zomato_events,book_url,order_url,order_deeplink
0,b90e6a8c738410315a20c449fe2eb1b1,2100702,Barbeque Nation,https://www.zomato.com/guwahati/barbeque-natio...,0,North Indian,1500,4,Rs.,[],...,1,"Ulubari, Guwahati",4.9,Excellent,3F7E00,774,NaN,NaN,NaN,NaN
1,b90e6a8c738410315a20c449fe2eb1b1,16608059,1918 Bistro & Grill,https://www.zomato.com/tanunda-sa/1918-bistro-...,0,"Modern Australian, Australian",30,3,$,[],...,14,"Tanunda, Tanunda",4.4,Very Good,5BA829,339,NaN,NaN,NaN,NaN
2,b90e6a8c738410315a20c449fe2eb1b1,17558684,Berry Patch Restaurant,https://www.zomato.com/clatskanie-or/berry-pat...,0,"American, Breakfast, Desserts",10,1,$,[],...,216,"Clatskanie, Clatskanie",4.3,Very Good,5BA829,96,NaN,NaN,NaN,NaN
3,b90e6a8c738410315a20c449fe2eb1b1,16604896,La Trattoria of Lavandula,https://www.zomato.com/hepburn-springs-vic/la-...,0,"Italian, Fusion, Cafe",7,1,$,[],...,14,"Hepburn Springs, Hepburn Springs",3.8,Good,9ACD32,93,NaN,NaN,NaN,NaN
4,b90e6a8c738410315a20c449fe2eb1b1,17536645,Jehova es Mi Pastor Tacos y Burritos,https://www.zomato.com/fernley-nv/jehova-es-mi...,0,Mexican,10,1,$,[],...,216,"Fernley, Fernley",3.7,Good,9ACD32,83,NaN,NaN,NaN,NaN

In [10]:
import json
import pandas as pd

# Sample JSON (Replace this with your actual JSON file)
json_file_path = "/content/file4.json"

# Load JSON data from the file
with open(json_file_path, 'r') as f:
    data = json.load(f)

# Extract all restaurant data dynamically
restaurants_list = [r["restaurant"] for item in data for r in item.get("restaurants", [])]

# Convert nested JSON to DataFrame dynamically
df4 = pd.json_normalize(restaurants_list)

# Display DataFrame
df4.head()

,apikey,id,name,url,switch_to_order_menu,cuisines,average_cost_for_two,price_range,currency,offers,...,location.country_id,location.locality_verbose,user_rating.aggregate_rating,user_rating.rating_text,user_rating.rating_color,user_rating.votes,zomato_events,book_url,order_url,order_deeplink
0,9421941dbc9358a88376f2ee33bbb06c,16604370,Mad Cowes Cafe,https://www.zomato.com/phillip-island-vic/mad-...,0,"Breakfast, Coffee and Tea, Modern Australian",20,2,$,[],...,14,"Phillip Island, Phillip Island",3.7,Good,9ACD32,351,NaN,NaN,NaN,NaN
1,9421941dbc9358a88376f2ee33bbb06c,16643459,Consort Restaurant,https://www.zomato.com/consort-ab/consort-rest...,0,"Chinese, Canadian",25,2,$,[],...,37,"Consort, Consort",3.0,Average,CDD614,6,NaN,NaN,NaN,NaN
2,9421941dbc9358a88376f2ee33bbb06c,18185059,Cafe Arabelle,https://www.zomato.com/laguna/cafe-arabelle-do...,0,"Cafe, American, Italian, Filipino",800,3,P,[],...,162,"Nuvali, Don Jose, Santa Rosa, Santa Rosa",3.6,Good,9ACD32,29,NaN,NaN,NaN,NaN
3,9421941dbc9358a88376f2ee33bbb06c,18385186,The Cafe Baraco,https://www.zomato.com/ahmedabad/the-cafe-bara...,0,"Cafe, Italian",600,2,Rs.,[],...,1,"Navrangpura, Ahmedabad",4.4,Very Good,5BA829,317,NaN,NaN,NaN,NaN
4,9421941dbc9358a88376f2ee33bbb06c,2200000,Kesar Da Dhabha,https://www.zomato.com/amritsar/kesar-da-dhabh...,0,North Indian,500,2,Rs.,[],...,1,"Town Hall, Amritsar",4.1,Very Good,5BA829,878,NaN,NaN,NaN,NaN

In [11]:
import json
import pandas as pd

# Sample JSON (Replace this with your actual JSON file)
json_file_path = "/content/file5.json"

# Load JSON data from the file
with open(json_file_path, 'r') as f:
    data = json.load(f)

# Extract all restaurant data dynamically
restaurants_list = [r["restaurant"] for item in data for r in item.get("restaurants", [])]

# Convert nested JSON to DataFrame dynamically
df5 = pd.json_normalize(restaurants_list)

# Display DataFrame
df5.head()

,has_online_delivery,photos_url,url,price_range,apikey,name,has_table_booking,is_delivering_now,deeplink,menu_url,...,R.res_id,location.latitude,location.address,location.city,location.country_id,location.locality_verbose,location.city_id,location.zipcode,location.longitude,location.locality
0,0,https://www.zomato.com/orlando/the-coop-winter...,https://www.zomato.com/orlando/the-coop-winter...,2,b90e6a8c738410315a20c449fe2eb1b1,The Coop,0,0,zomato://restaurant/17066603,https://www.zomato.com/orlando/the-coop-winter...,...,17066603,28.5973660000,"610 W Morse Boulevard, Winter Park, FL 32789",Orlando,216,"Winter Park, Orlando",601,32789,-81.3572190000,Winter Park
1,0,https://www.zomato.com/orlando/maggianos-littl...,https://www.zomato.com/orlando/maggianos-littl...,4,b90e6a8c738410315a20c449fe2eb1b1,Maggiano's Little Italy,0,0,zomato://restaurant/17059541,https://www.zomato.com/orlando/maggianos-littl...,...,17059541,28.4332350000,"9101 International Drive,Orlando, FL 32819",Orlando,216,"I-Drive/Universal, Orlando",601,32819,-81.4714470000,I-Drive/Universal
2,0,https://www.zomato.com/orlando/tako-cheena-by-...,https://www.zomato.com/orlando/tako-cheena-by-...,1,b90e6a8c738410315a20c449fe2eb1b1,Tako Cheena by Pom Pom,0,0,zomato://restaurant/17064405,https://www.zomato.com/orlando/tako-cheena-by-...,...,17064405,28.5578450000,"932 North Mills Avenue, Orlando, FL 32803",Orlando,216,"Mills 50, Orlando",601,32803,-81.3645470000,Mills 50
3,0,https://www.zomato.com/orlando/bosphorous-turk...,https://www.zomato.com/orlando/bosphorous-turk...,3,b90e6a8c738410315a20c449fe2eb1b1,Bosphorous Turkish Cuisine,0,0,zomato://restaurant/17057797,https://www.zomato.com/orlando/bosphorous-turk...,...,17057797,28.5976271000,"108 S Park Ave, Winter Park, FL 32789",Orlando,216,"Winter Park, Orlando",601,32789,-81.3508344000,Winter Park
4,0,https://www.zomato.com/orlando/bahama-breeze-i...,https://www.zomato.com/orlando/bahama-breeze-i...,3,b90e6a8c738410315a20c449fe2eb1b1,Bahama Breeze Island Grille,0,0,zomato://restaurant/17057591,https://www.zomato.com/orlando/bahama-breeze-i...,...,17057591,28.4370650000,"8849 International Drive, Orlando, FL 32819",Orlando,216,"I-Drive/Universal, Orlando",601,32819,-81.4715260000,I-Drive/Universal

In [78]:
print(len(df1)+len(df2)+len(df3)+len(df4)+len(df5))

29753

In [79]:
import pandas as pd
df = pd.read_csv('zomato.csv',encoding='latin-1')
print(len(df))

9551

In [80]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)

Index(['has_online_delivery', 'photos_url', 'url', 'price_range', 'apikey',
       'name', 'cuisines', 'is_delivering_now', 'deeplink', 'menu_url',
       'average_cost_for_two', 'book_url', 'switch_to_order_menu', 'offers',
       'has_table_booking', 'featured_image', 'zomato_events', 'currency',
       'id', 'thumb', 'establishment_types', 'events_url',
       'user_rating.rating_text', 'user_rating.rating_color',
       'user_rating.votes', 'user_rating.aggregate_rating', 'R.res_id',
       'location.latitude', 'location.address', 'location.city',
       'location.country_id', 'location.locality_verbose', 'location.city_id',
       'location.zipcode', 'location.longitude', 'location.locality',
       'order_deeplink', 'order_url'],
      dtype='object')
Index(['apikey', 'id', 'name', 'url', 'switch_to_order_menu', 'cuisines',
       'average_cost_for_two', 'price_range', 'currency', 'offers', 'thumb',
       'photos_url', 'menu_url', 'featured_image', 'has_online_delivery',
       'is_delivering_now', 'deeplink', 'has_table_booking', 'events_url',
       'establishment_types', 'R.res_id', 'location.address',
       'location.locality', 'location.city', 'location.city_id',
       'location.latitude', 'location.longitude', 'location.zipcode',
       'location.country_id', 'location.locality_verbose',
       'user_rating.aggregate_rating', 'user_rating.rating_text',
       'user_rating.rating_color', 'user_rating.votes', 'book_url',
       'zomato_events', 'order_url', 'order_deeplink'],
      dtype='object')
Index(['apikey', 'id', 'name', 'url', 'switch_to_order_menu', 'cuisines',
       'average_cost_for_two', 'price_range', 'currency', 'offers', 'thumb',
       'photos_url', 'menu_url', 'featured_image', 'has_online_delivery',
       'is_delivering_now', 'deeplink', 'has_table_booking', 'events_url',
       'establishment_types', 'R.res_id', 'location.address',
       'location.locality', 'location.city', 'location.city_id',
       'location.latitude', 'location.longitude', 'location.zipcode',
       'location.country_id', 'location.locality_verbose',
       'user_rating.aggregate_rating', 'user_rating.rating_text',
       'user_rating.rating_color', 'user_rating.votes', 'zomato_events',
       'book_url', 'order_url', 'order_deeplink'],
      dtype='object')
Index(['apikey', 'id', 'name', 'url', 'switch_to_order_menu', 'cuisines',
       'average_cost_for_two', 'price_range', 'currency', 'offers', 'thumb',
       'photos_url', 'menu_url', 'featured_image', 'has_online_delivery',
       'is_delivering_now', 'deeplink', 'has_table_booking', 'events_url',
       'establishment_types', 'R.res_id', 'location.address',
       'location.locality', 'location.city', 'location.city_id',
       'location.latitude', 'location.longitude', 'location.zipcode',
       'location.country_id', 'location.locality_verbose',
       'user_rating.aggregate_rating', 'user_rating.rating_text',
       'user_rating.rating_color', 'user_rating.votes', 'zomato_events',
       'book_url', 'order_url', 'order_deeplink'],
      dtype='object')
Index(['has_online_delivery', 'photos_url', 'url', 'price_range', 'apikey',
       'name', 'has_table_booking', 'is_delivering_now', 'deeplink',
       'menu_url', 'average_cost_for_two', 'switch_to_order_menu', 'offers',
       'cuisines', 'featured_image', 'currency', 'id', 'thumb',
       'establishment_types', 'events_url', 'user_rating.rating_text',
       'user_rating.rating_color', 'user_rating.votes',
       'user_rating.aggregate_rating', 'R.res_id', 'location.latitude',
       'location.address', 'location.city', 'location.country_id',
       'location.locality_verbose', 'location.city_id', 'location.zipcode',
       'location.longitude', 'location.locality'],
      dtype='object')

In [81]:
unique_res_id_counts = {}

for df_name, fd in zip(['df1', 'df2', 'df3', 'df4', 'df5'], [df1, df2, df3, df4, df5]):
    if 'R.res_id' in fd.columns:
        unique_count = fd['R.res_id'].nunique()
        unique_res_id_counts[df_name] = unique_count
    else:
        unique_res_id_counts[df_name] = 0  # or handle the case where the column is missing

unique_res_id_counts

{'df1': 1180, 'df2': 3803, 'df3': 3227, 'df4': 2992, 'df5': 420}

In [82]:
data = {'df1': 1180, 'df2': 3803, 'df3': 3227, 'df4': 2992, 'df5': 420}
total_sum = sum(data.values())
total_sum

11622

In [83]:
len(df)

9551

In [84]:
print(11622-9551)

2071

In [85]:
import pandas as pd

# Assuming df1, df2, df3, df4, and df5 are already defined as in your provided code

all_res_ids = []

for ed in [df1, df2, df3, df4, df5]:
  if 'R.res_id' in ed.columns:
    all_res_ids.extend(ed['R.res_id'].tolist())

unique_res_ids = set(all_res_ids)
unique_res_id_count = len(unique_res_ids)

print(f"The number of unique R.res_id values across all DataFrames is: {unique_res_id_count}")

The number of unique R.res_id values across all DataFrames is: 9577

In [86]:
len(df)

9551

In [87]:
print(9551-9577)

-26

In [88]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [89]:
import pandas as pd

# Step 1: Concatenate only the "R.res_id" column from df1 to df5
combined_df = pd.concat([df1[["R.res_id"]], df2[["R.res_id"]], df3[["R.res_id"]], df4[["R.res_id"]], df5[["R.res_id"]]])

# Step 2: Remove duplicates
unique_ids = combined_df["R.res_id"].drop_duplicates()

# Step 3: Count matching and unmatching restaurant IDs
matching_count = df["Restaurant ID"].isin(unique_ids).sum()
unmatching_count = len(df) - matching_count

# Step 4: Print the results
print(f"Matching count: {matching_count}")
print(f"Unmatching count: {unmatching_count}")

Matching count: 9551
Unmatching count: 0

In [90]:
print(f"Total Restaurant IDs in df: {len(df)}")
print(f"Unique Restaurant IDs in df1 to df5: {len(unique_ids)}")
print(f"Matching count: {matching_count}")
print(f"Unmatching count: {unmatching_count}")

Total Restaurant IDs in df: 9551
Unique Restaurant IDs in df1 to df5: 9577
Matching count: 9551
Unmatching count: 0

In [91]:
extra_ids = set(unique_ids) - set(df["Restaurant ID"])
print(f"Extra Restaurant IDs in df1 to df5: {len(extra_ids)}")
print(extra_ids)  # Print the actual extra IDs if needed

Extra Restaurant IDs in df1 to df5: 26
{5908736, 4, 7200516, 7201671, 7202954, 5919120, 21, 5913494, 7200278, 7200153, 42, 18117427, 7211444, 18140858, 15559233, 18295621, 7200197, 7200343, 7200348, 5912546, 15559011, 7200110, 7200370, 7200755, 5920764, 5907325}

In [92]:
import pandas as pd

# Extract only 'Restaurant ID' column from df (keeping all its other columns)
df_restaurant_ids = df[['Restaurant ID']].drop_duplicates()

# Find common columns among df1 to df5 (ensuring R.res_id is always included)
common_columns = set(df1.columns) & set(df2.columns) & set(df3.columns) & set(df4.columns) & set(df5.columns)
common_columns.add("R.res_id")  # Ensure 'R.res_id' is included

# Extract only the common columns from each DataFrame
df1_common = df1[list(common_columns)]
df2_common = df2[list(common_columns)]
df3_common = df3[list(common_columns)]
df4_common = df4[list(common_columns)]
df5_common = df5[list(common_columns)]

# Concatenate all the filtered DataFrames
combined_df = pd.concat([df1_common, df2_common, df3_common, df4_common, df5_common])

# Remove duplicate R.res_id values
unique_df = combined_df.drop_duplicates(subset=["R.res_id"])

# Merge df with unique_df on 'Restaurant ID' and 'R.res_id'
merged_df = df.merge(unique_df, left_on="Restaurant ID", right_on="R.res_id", how="left")

# Count the number of matches and non-matches
matching_count = merged_df["R.res_id"].notna().sum()
unmatching_count = merged_df["R.res_id"].isna().sum()

# Display results
print(f"Total Restaurant IDs in df: {len(df)}")
print(f"Unique Restaurant IDs in df1 to df5: {len(unique_df)}")
print(f"Matching count: {matching_count}")
print(f"Unmatching count: {unmatching_count}")

# Show a sample of the merged DataFrame
print(merged_df.head())

Total Restaurant IDs in df: 9551
Unique Restaurant IDs in df1 to df5: 9577
Matching count: 9551
Unmatching count: 0
   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  user_rating.rating_text  \
0        French, Japanese, Desserts  ...                Excellent
1                          Japanese  ...                Excellent
2  Seafood, Asian, Filipino, Indian  ...                Very Good
3                   Japanese, Sushi  ...                Excellent
4                  Japanese, Korean  ...                Excellent

                                               thumb  \
0  https://b.zmtcdn.com/data/pictures/chains/7/63...
1  https://b.zmtcdn.com/data/pictures/7/6304287/e...
2  https://b.zmtcdn.com/data/pictures/2/6300002/6...
3  https://b.zmtcdn.com/data/pictures/chains/6/63...
4  https://b.zmtcdn.com/data/pictures/chains/1/63...

                                                 url location.longitude  \
0  https://www.zomato.com/manila/le-petit-souffle...     121.0275350000
1  https://www.zomato.com/manila/izakaya-kikufuji...     121.0141010000
2  https://www.zomato.com/manila/heat-edsa-shangr...     121.0568310000
3  https://www.zomato.com/manila/ooma-ortigas-man...     121.0564750000
4  https://www.zomato.com/manila/sambo-kojin-orti...     121.0575080000

  location.zipcode is_delivering_now  currency       id has_online_delivery  \
0                                  0         P  6317637                   0
1                                  0         P  6304287                   0
2                                  0         P  6300002                   0
3                                  0         P  6318506                   0
4                                  0         P  6314302                   0

                           cuisines
0        French, Japanese, Desserts
1                          Japanese
2  Seafood, Asian, Filipino, Indian
3                   Japanese, Sushi
4                  Japanese, Korean

[5 rows x 55 columns]

In [93]:
len(merged_df)

9551

In [94]:
import pandas as pd

# Load country mapping from Excel file
country_df = pd.read_excel("/content/Country-Code.xlsx")  # Replace with actual file path

# Ensure country_df has the correct column names
# Assuming it has columns: ["Country Code", "Country"]
country_df.rename(columns={"Country Code": "location.country_id"}, inplace=True)

# Merge merged_df with country_df on "location.country_id"
merged_df = merged_df.merge(country_df, on="location.country_id", how="left")

# Display results
print(f"Total Restaurant IDs in df: {len(df)}")
print(f"Unique Restaurant IDs in df1 to df5: {len(unique_df)}")
print(f"Matching count: {matching_count}")
print(f"Unmatching count: {unmatching_count}")

# Show a sample of the final merged DataFrame
print(merged_df.head())

Total Restaurant IDs in df: 9551
Unique Restaurant IDs in df1 to df5: 9577
Matching count: 9551
Unmatching count: 0
   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  \
0        French, Japanese, Desserts  ...
1                          Japanese  ...
2  Seafood, Asian, Filipino, Indian  ...
3                   Japanese, Sushi  ...
4                  Japanese, Korean  ...

                                               thumb  \
0  https://b.zmtcdn.com/data/pictures/chains/7/63...
1  https://b.zmtcdn.com/data/pictures/7/6304287/e...
2  https://b.zmtcdn.com/data/pictures/2/6300002/6...
3  https://b.zmtcdn.com/data/pictures/chains/6/63...
4  https://b.zmtcdn.com/data/pictures/chains/1/63...

                                                 url location.longitude  \
0  https://www.zomato.com/manila/le-petit-souffle...     121.0275350000
1  https://www.zomato.com/manila/izakaya-kikufuji...     121.0141010000
2  https://www.zomato.com/manila/heat-edsa-shangr...     121.0568310000
3  https://www.zomato.com/manila/ooma-ortigas-man...     121.0564750000
4  https://www.zomato.com/manila/sambo-kojin-orti...     121.0575080000

  location.zipcode is_delivering_now currency       id  has_online_delivery  \
0                                  0        P  6317637                    0
1                                  0        P  6304287                    0
2                                  0        P  6300002                    0
3                                  0        P  6318506                    0
4                                  0        P  6314302                    0

                           cuisines      Country
0        French, Japanese, Desserts  Phillipines
1                          Japanese  Phillipines
2  Seafood, Asian, Filipino, Indian  Phillipines
3                   Japanese, Sushi  Phillipines
4                  Japanese, Korean  Phillipines

[5 rows x 56 columns]

In [95]:
merged_df.to_csv('restaurants_data.csv')

In [96]:
nan_counts = merged_df.isna().sum()
nan_counts

Restaurant ID                   0
Restaurant Name                 0
Country Code                    0
City                            0
Address                         0
Locality                        0
Locality Verbose                0
Longitude                       0
Latitude                        0
Cuisines                        9
Average Cost for two            0
Currency                        0
Has Table booking               0
Has Online delivery             0
Is delivering now               0
Switch to order menu            0
Price range                     0
Aggregate rating                0
Rating color                    0
Rating text                     0
Votes                           0
average_cost_for_two            0
user_rating.votes               0
R.res_id                        0
user_rating.rating_color        0
price_range                     0
location.city_id                0
featured_image                  0
has_table_booking               0
photos_url                      0
deeplink                        0
switch_to_order_menu            0
location.locality_verbose       0
location.country_id             0
user_rating.aggregate_rating    0
establishment_types             0
offers                          0
apikey                          0
menu_url                        0
location.latitude               0
location.locality               0
events_url                      0
location.city                   0
location.address                0
name                            0
user_rating.rating_text         0
thumb                           0
url                             0
location.longitude              0
location.zipcode                0
is_delivering_now               0
currency                        0
id                              0
has_online_delivery             0
cuisines                        0
Country                         0
dtype: int64

In [97]:
merged_df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'average_cost_for_two', 'user_rating.votes', 'R.res_id',
       'user_rating.rating_color', 'price_range', 'location.city_id',
       'featured_image', 'has_table_booking', 'photos_url', 'deeplink',
       'switch_to_order_menu', 'location.locality_verbose',
       'location.country_id', 'user_rating.aggregate_rating',
       'establishment_types', 'offers', 'apikey', 'menu_url',
       'location.latitude', 'location.locality', 'events_url', 'location.city',
       'location.address', 'name', 'user_rating.rating_text', 'thumb', 'url',
       'location.longitude', 'location.zipcode', 'is_delivering_now',
       'currency', 'id', 'has_online_delivery', 'cuisines', 'Country'],
      dtype='object')

In [98]:
print(merged_df.iloc[100])

Restaurant ID                                                            17284279
Restaurant Name                                                     Villa Gargano
Country Code                                                                  216
City                                                                       Albany
Address                                     1604 N Slappey Blvd, Albany, GA 31701
Locality                                                                   Albany
Locality Verbose                                                   Albany, Albany
Longitude                                                                -84.1757
Latitude                                                                  31.5985
Cuisines                                                           Italian, Pizza
Average Cost for two                                                           10
Currency                                                                Dollar($)
Has Table booking                                                              No
Has Online delivery                                                            No
Is delivering now                                                              No
Switch to order menu                                                           No
Price range                                                                     1
Aggregate rating                                                              3.7
Rating color                                                               Yellow
Rating text                                                                  Good
Votes                                                                         117
average_cost_for_two                                                           10
user_rating.votes                                                             117
R.res_id                                                                 17284279
user_rating.rating_color                                                   9ACD32
price_range                                                                     1
location.city_id                                                              610
featured_image
has_table_booking                                                               0
photos_url                      https://www.zomato.com/albany-ga/villa-gargano...
deeplink                                             zomato://restaurant/17284279
switch_to_order_menu                                                            0
location.locality_verbose                                          Albany, Albany
location.country_id                                                           216
user_rating.aggregate_rating                                                  3.7
establishment_types                                                            []
offers                                                                         []
apikey                                           b90e6a8c738410315a20c449fe2eb1b1
menu_url                        https://www.zomato.com/albany-ga/villa-gargano...
location.latitude                                                   31.5985000000
location.locality                                                          Albany
events_url                      https://www.zomato.com/albany-ga/villa-gargano...
location.city                                                              Albany
location.address                            1604 N Slappey Blvd, Albany, GA 31701
name                                                                Villa Gargano
user_rating.rating_text                                                      Good
thumb
url                             https://www.zomato.com/albany-ga/villa-gargano...
location.longitude                                                 -84.1757000000
location.zipcode                                                            31701
is_delivering_now                                                               0
currency                                                                        $
id                                                                       17284279
has_online_delivery                                                             0
cuisines                                                           Italian, Pizza
Country                                                             United States
Name: 100, dtype: object

In [99]:
import pandas as pd

### 🔹 Step 1: Drop Unwanted Columns (EXCLUDING URL-related columns) ###
columns_to_drop = [
    "apikey", "switch_to_order_menu", "deeplink",  # Example: Dropping unnecessary fields
    "establishment_types", "offers", "id"         # Example: Dropping redundant fields
]

merged_df = merged_df.drop(columns=[col for col in columns_to_drop if col in merged_df.columns], errors='ignore')

### 🔹 Step 2: Rename Columns (Keeping URL-related Columns) ###
rename_columns = {
    "Restaurant Name": "Name",
    "Country Code": "Country_Code",
    "City": "City",
    "Locality": "Locality",
    "Locality Verbose": "Full Address",
    "Cuisines": "Cuisine",
    "Average Cost for two": "Avg Cost for Two",
    "Price range": "Price Range",
    "Aggregate rating": "Rating",
    "Rating text": "Rating Text",
    "Rating color": "Rating Color",
    "Votes": "Total Votes",
}

merged_df = merged_df.rename(columns=rename_columns)

### 🔹 Step 3: Save the Cleaned Data ###
merged_df.to_csv("cleaned_merged_data.csv", index=False)

print("✅ Columns Dropped & Renamed Successfully! (URLs are KEPT)")
print("📌 Final DataFrame Shape:", merged_df.shape)

✅ Columns Dropped & Renamed Successfully! (URLs are KEPT)
📌 Final DataFrame Shape: (9551, 50)

In [100]:
print(merged_df.iloc[100])

Restaurant ID                                                            17284279
Name                                                                Villa Gargano
Country_Code                                                                  216
City                                                                       Albany
Address                                     1604 N Slappey Blvd, Albany, GA 31701
Locality                                                                   Albany
Full Address                                                       Albany, Albany
Longitude                                                                -84.1757
Latitude                                                                  31.5985
Cuisine                                                            Italian, Pizza
Avg Cost for Two                                                               10
Currency                                                                Dollar($)
Has Table booking                                                              No
Has Online delivery                                                            No
Is delivering now                                                              No
Switch to order menu                                                           No
Price Range                                                                     1
Rating                                                                        3.7
Rating Color                                                               Yellow
Rating Text                                                                  Good
Total Votes                                                                   117
average_cost_for_two                                                           10
user_rating.votes                                                             117
R.res_id                                                                 17284279
user_rating.rating_color                                                   9ACD32
price_range                                                                     1
location.city_id                                                              610
featured_image
has_table_booking                                                               0
photos_url                      https://www.zomato.com/albany-ga/villa-gargano...
location.locality_verbose                                          Albany, Albany
location.country_id                                                           216
user_rating.aggregate_rating                                                  3.7
menu_url                        https://www.zomato.com/albany-ga/villa-gargano...
location.latitude                                                   31.5985000000
location.locality                                                          Albany
events_url                      https://www.zomato.com/albany-ga/villa-gargano...
location.city                                                              Albany
location.address                            1604 N Slappey Blvd, Albany, GA 31701
name                                                                Villa Gargano
user_rating.rating_text                                                      Good
thumb
url                             https://www.zomato.com/albany-ga/villa-gargano...
location.longitude                                                 -84.1757000000
location.zipcode                                                            31701
is_delivering_now                                                               0
currency                                                                        $
has_online_delivery                                                             0
cuisines                                                           Italian, Pizza
Country                                                             United States
Name: 100, dtype: object

In [101]:
import pandas as pd

# Load the merged DataFrame (if not already in memory)
# merged_df = pd.read_csv("merged_restaurant_data.csv")  # Uncomment if loading from a file

### 🔹 Step 1: Drop Unwanted Columns ###
columns_to_drop = [
    "currency", "cuisines", "has_online_delivery", "is_delivering_now",
    "location.longitude", "thumb", "name", "location.address", "location.city",
    "location.latitude", "location.locality", "user_rating.aggregate_rating",
    "location.country_id", "location.locality_verbose", "has_table_booking",
    "average_cost_for_two", "user_rating.votes", "R.res_id",
    "user_rating.rating_color", "price_range"
]

merged_df = merged_df.drop(columns=[col for col in columns_to_drop if col in merged_df.columns], errors='ignore')

### 🔹 Step 2: Save the Cleaned Data ###
merged_df.to_csv("cleaned_merged_data.csv", index=False)

print("✅ Specified Columns Dropped Successfully! (URLs are KEPT)")
print("📌 Final DataFrame Shape:", merged_df.shape)
print("🔹 Sample Data:\n", merged_df.head())

✅ Specified Columns Dropped Successfully! (URLs are KEPT)
📌 Final DataFrame Shape: (9551, 30)
🔹 Sample Data:
    Restaurant ID                    Name  Country_Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                        Full Address   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                            Cuisine  ...  Total Votes location.city_id  \
0        French, Japanese, Desserts  ...          314               63
1                          Japanese  ...          591               63
2  Seafood, Asian, Filipino, Indian  ...          270               63
3                   Japanese, Sushi  ...          365               63
4                  Japanese, Korean  ...          229               63

                                      featured_image  \
0  https://b.zmtcdn.com/data/pictures/chains/7/63...
1  https://b.zmtcdn.com/data/pictures/7/6304287/e...
2  https://b.zmtcdn.com/data/pictures/2/6300002/6...
3  https://b.zmtcdn.com/data/pictures/chains/6/63...
4  https://b.zmtcdn.com/data/pictures/chains/1/63...

                                          photos_url  \
0  https://www.zomato.com/manila/le-petit-souffle...
1  https://www.zomato.com/manila/izakaya-kikufuji...
2  https://www.zomato.com/manila/heat-edsa-shangr...
3  https://www.zomato.com/manila/ooma-ortigas-man...
4  https://www.zomato.com/manila/sambo-kojin-orti...

                                            menu_url  \
0  https://www.zomato.com/manila/le-petit-souffle...
1  https://www.zomato.com/manila/izakaya-kikufuji...
2  https://www.zomato.com/manila/heat-edsa-shangr...
3  https://www.zomato.com/manila/ooma-ortigas-man...
4  https://www.zomato.com/manila/sambo-kojin-orti...

                                          events_url  user_rating.rating_text  \
0  https://www.zomato.com/manila/le-petit-souffle...                Excellent
1  https://www.zomato.com/manila/izakaya-kikufuji...                Excellent
2  https://www.zomato.com/manila/heat-edsa-shangr...                Very Good
3  https://www.zomato.com/manila/ooma-ortigas-man...                Excellent
4  https://www.zomato.com/manila/sambo-kojin-orti...                Excellent

                                                 url location.zipcode  \
0  https://www.zomato.com/manila/le-petit-souffle...
1  https://www.zomato.com/manila/izakaya-kikufuji...
2  https://www.zomato.com/manila/heat-edsa-shangr...
3  https://www.zomato.com/manila/ooma-ortigas-man...
4  https://www.zomato.com/manila/sambo-kojin-orti...

       Country
0  Phillipines
1  Phillipines
2  Phillipines
3  Phillipines
4  Phillipines

[5 rows x 30 columns]

In [103]:
merged_df.drop(columns={'user_rating.rating_text'},inplace=True)

In [105]:
merged_df.rename(columns={'location.zipcode': 'Location Zipcode','url':'Restaurant URL','location.city_id':'City ID'},inplace=True)

In [106]:
print(merged_df.iloc[10])

Restaurant ID                                                     6309903
Name                                                     Silantro Fil-Mex
Country_Code                                                          162
City                                                           Pasig City
Address                      75 East Capitol Drive, Kapitolyo, Pasig City
Locality                                                        Kapitolyo
Full Address                                        Kapitolyo, Pasig City
Longitude                                                      121.057916
Latitude                                                        14.567689
Cuisine                                                 Filipino, Mexican
Avg Cost for Two                                                      800
Currency                                                 Botswana Pula(P)
Has Table booking                                                      No
Has Online delivery                                                    No
Is delivering now                                                      No
Switch to order menu                                                   No
Price Range                                                             3
Rating                                                                4.9
Rating Color                                                   Dark Green
Rating Text                                                     Excellent
Total Votes                                                          1070
City ID                                                                63
featured_image          https://b.zmtcdn.com/data/pictures/3/6309903/4...
photos_url              https://www.zomato.com/manila/silantro-fil-mex...
menu_url                https://www.zomato.com/manila/silantro-fil-mex...
events_url              https://www.zomato.com/manila/silantro-fil-mex...
Restaurant URL          https://www.zomato.com/manila/silantro-fil-mex...
Location Zipcode
Country                                                       Phillipines
Name: 10, dtype: object

In [108]:
merged_df.rename(columns={'Full Address':'Address','Name':'Restaurant Name'},inplace=True)

In [111]:
merged_df.columns = merged_df.columns.str.replace(" ", "_")

In [112]:
merged_df.columns

Index(['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address',
       'Locality', 'Address', 'Longitude', 'Latitude', 'Cuisine',
       'Avg_Cost_for_Two', 'Currency', 'Has_Table_booking',
       'Has_Online_delivery', 'Is_delivering_now', 'Switch_to_order_menu',
       'Price_Range', 'Rating', 'Rating_Color', 'Rating_Text', 'Total_Votes',
       'City_ID', 'featured_image', 'photos_url', 'menu_url', 'events_url',
       'Restaurant_URL', 'Location_Zipcode', 'Country'],
      dtype='object')

In [113]:
merged_df.to_csv("cleaned_merged_data.csv", index=False)